/* 
    Created on : 2 mai 2017, 15:59:53
    Author     : c.kabena
*/

@keyframes opacOut {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes opacOut {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        left: -100%;
    }
    17%{
        opacity: 1;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes slideInLeft {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
        left: -100%;
    }
    17%{
        opacity: 1;
    }
    100% {
        left: 0;
    }
}

@keyframes slideDown {
    0% {
        display: none;
        opacity: 0;
        top: -100%;
    }
    1% {
        display: block;
        opacity: 0;
        top: -100%;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes slideDown {
    0% {
        display: none;
        opacity: 0;
        top: -100%;
    }
    1% {
        display: block;
        opacity: 0;
        top: -100%;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: 0;
    }
}
@keyframes flashing {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@-webkit-keyframes flashing {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@keyframes scale_animation {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
@-webkit-keyframes scale_animation {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    100%{
        transform: scale(2);
    }
}
@keyframes spanAnim {
    0% {
        display: none;
    }
    1% {
        display: block;
        
        text-shadow: 0px 0px 0px rgba(240,240,240,.55), 0px -1px 0px rgba(190,190,190,.6);
    }
    100% {
        text-shadow: 0px 3px 0px rgba(240,240,240,.55), 0px -1px 0px rgba(140,140,140,.6);
        
    }
}
@-webkit-keyframes spanAnim {
    0% {
        display: none;
    }
    1% {
        display: block;
        
        text-shadow: 0px 0px 0px rgba(240,240,240,.55), 0px -1px 0px rgba(190,190,190,.6);
    }
    100% {
        text-shadow: 0px 3px 0px rgba(240,240,240,.55), 0px -1px 0px rgba(140,140,140,.6);
        
    }
}
@keyframes shake_animation {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 1;
        transform: translate(4px,0);
    }
    50%{
        transform: translate(-4px,0);
    }
    100%{
        transform: translate(0px,0);;
    }
}
@-webkit-keyframes shake_animation {
  0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 1;
        transform: translate(4px,0);
    }
    50%{
        transform: translate(-4px,0);
    }
    100%{
        transform: translate(0px,0);;
    }
}

.welcomeSpanAnim{
    animation: spanAnim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
.toRight0{
    animation: slideInLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.opacityOut{
    animation: opacOut;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}

.fromTop{
    animation: slideDown;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

.btn_0{
    text-decoration: none;
    color: #223;
    border-bottom: 2px solid transparent;

	position: relative;
	box-sizing: border-box;
	transition: all 50ms ease;
}

.btn_0:after {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 100%;
	background: rgba(255,255,255,0.0);
	transition: all 900ms ease;
        border-bottom: 2px solid #ffdd00;
} 

.btn_0:hover:after {
	width: 100%;
}
.flashing_anim{
    animation: flashing;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 10;
}

.scale_anim{
    animation: scale_animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 10;
}

.shake_anim{
    animation: shake_animation;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 10;
}
