
/* 
    Created on : 18 oct. 2016, 10:09:15
    Author     : c.kabena
*/

.reg_form{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #f0f0f0;
    height: 700px;
    width: 670px;
    display: inline-block;
    border-radius: 7px;
    padding-left: 70px;
    padding-right: 30px;
    padding-top: 20px;
}

.box_shadow_{
    box-shadow: 0px 3px 5px #bbb;
}
.sep{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #ffdd00; 
}
span{
    font-size: 0.9em;
}
.title_txt{
    font-family: "Roboto-Bold",sans-serif;
    color: #777;
    margin-bottom: 10px;
    text-align: center;
}

table{
    width: 100%;
}
table td{
    padding-top: 10px;
    padding-bottom: 20px;
}
input[type="text"]{
    padding-left: 17px;
    margin-left: 2px
}
