
body {
    background-color: #ffde08;
  }
  
  .mainbox {
    background-color: #ffde08;
    margin: auto;
    height: 600px;
    width: 600px;
  }
  
    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      text-align: center;
    }
  
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
    }
  