@font-face {
    font-family: "Roboto-Light";
    src: url(../font/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url(assets/font/Roboto-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(assets/font/Roboto-Medium.ttf) format("truetype");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(assets/font/Roboto-Bold.ttf) format("truetype");
}

#loadingDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1500;
    display: inline-block;
    transform: translate(-50%,-50%);
}

.cursor{
    cursor: pointer;
}

html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Roboto-Light", sans-serif;
    background: linear-gradient(#fdfdfd, #ffffff,#ffffff);
    background: -webkit-linear-gradient(#fdfdfd, #ffffff,#ffffff);
    background: -o-linear-gradient(#fdfdfd, #ffffff,#ffffff);
    background: -moz-linear-gradient(#fdfdfd, #ffffff,#ffffff);
    background: -ms-linear-gradient(#fdfdfd, #ffffff,#ffffff);
}
a{
    outline: 0;
}
.bg0{
    background: #fff;
}

.bg1{
    background: #e0e0e7;
}


.page_center{
    padding-bottom: 25px;
    background: #fff;
    display: block;
    position:relative;
    width: 400px; 
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);

    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.float_fixed{
    margin-top: 10px;
    width: 320px;
    z-index: 100;
    position: fixed;

    font-size: 1.2em;
    color: #fff;

}

.content{
    padding-left: 270px;
    height: 100%;
    width: auto;
    position: relative;
}
.content #dynamic_content{
    position: relative;
    background: #fff;
}

.content #dynamic_content .title0{
    border-top-left-radius: 7px;
    background: rgba(221,221,221,0.3);

    padding-left: 10px;
}

.contenu{

    display: block;

    padding: 40px;
    margin-right: 4px; 
    min-height: 50px;   
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.content_div{
    display: none;
    margin-top: 22px;
    margin-left: 25px;
    width: 450px;
    height: 600px;

}
.content_div:nth-child(1){
    display: block;
}


.menuType {
    display: block;
    height: 260px;
    width: 250px;
    padding: 20px;
    text-align: center;
    padding-top: 10px;
    font-family: "Roboto-Bold",sans-serif;
    transition: 0.4s all;-webkit-transition: 0.4s all;-o-transition: 0.4s all;-moz-transition: 0.4s all;-ms-transition: 0.4s all;

}

.marge{
    margin-bottom: 15px;
}

.titlePaiement{
    width: 100%;
    text-decoration: none;
    color: #000000;
    padding: 10px;
}

.fragment_content{
    display: block;
    padding-left: 650px;
    padding-top: 1px;
    width: 700px;
    height: 60px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

.fullScreen_fixed{
    position:fixed;width:100%;height:100%;top:0;left:0;
}
.overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.4; /* see below for cross-browser opacity */
  background: #000;
}