
.typecontainer {
    text-align: center;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f8f8;
    padding: 10px;

}

.methodecontentchoice {
    text-align: center;
}

.methodtype {
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width: 1px;
}

.methodecontentchoice {
    border-right-color: #d0d0d0;
    border-right-style: solid;
    border-right-width: 1px;
    padding-right: 25px;
}

.chx {
    margin-bottom: 25px;
}

.methodcontentpaye {
   
    padding-top: 25px;
}

.chx-img {
    display: inline-block;
}

.chx-btn {
    display: inline-block;
    position: relative;
    bottom: 0px;
}

.type1text {
    /* font-weight: bold; */
    color: #adadad;
}

#btn {
    width: 125px;
    height: 30px;
    border: 5px solid transparent;
    background-color: #ffde08;
}

#svgcard {
    cursor: pointer;
}


#svgflash {
    cursor: pointer;
}


#svgmobile {
    cursor: pointer;
}



@media only screen and (max-width: 1200px) {
    .typecontainer {
        margin:0 auto;
        padding: 20px;
    }

    .methodtype {
        padding-bottom: 15px;
        padding-top: 15px;
        border-bottom: 1px solid #d0d0d0 ;
        border-top: 1px solid #d0d0d0;
        border-right: none;
        margin: 0 auto;
        justify-content: center;
    }
   .type1text{
        font-size: 12px;
    }

    
    #facture{
        margin-left: 50%;
        color: black;
        border: 1px solid black;
        width: 50%;
        height: 30%;
    }
  }

  @media only screen and (min-width: 1200px) {
    .typecontainer {
        margin-bottom: 20px;
    }

    .methodtype {

        padding-right: 20px;
    }
    
      #green{
        background-color: #ffde08;
        color: black;
        border-radius: 0px;
        margin-left: -14px;
         border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-right: 5px;
    }
   #methodcontentpaye{
        margin-top: 15%;
        margin-left: 5%;
        margin-right: 0;
    }

    #facture{
        position: absolute;
        top: 11px;
        right: 160px;
        border: 1px solid black;
        border-radius: 4px;
        color: black;
        width: 35%;
        height: 15%;
    }
    
  }

  #svgbutton{
    border: none;
    background: none;
    cursor: pointer;
  }
body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-color: #cccccc;

    padding-top: 10px;
    overflow-x:hidden;
}
   
   
#green{
       background-color: #ffde08;
       color: black;
   }

.typecontainer:hover{

    border:2px solid #ffde08;
}

label[for="inputflash"],label[for="phonenumber"],label[for="inputPay"]{
    display: block;
    text-align: center;
    color: black;
    background-color: #ffde08;
     border-radius: 4px;
    font-weight: bold;

}
.typecontainer{
    height: 100px;
}

.option-logo{
    width: 50px;
    height: 50px;
}







.sendIng_main{
    margin-top: 14px;
}
.left_pane{
    display: inline-block;
    width: 23%;
}

.right_pane{
    margin-left: 70px;
    display: inline-block;
    width: 100%;
    padding: 7px 12px;
    padding-right: 17px;
    background: #f7f7f7;
    vertical-align: top;
    border-radius: 4px;
}

.right_pane .title_0{
    width: 100%;
    border-top:none;
    border-right: none;
    border-left:none;
    border-bottom: 2px solid #ffdd00;
    
}
.right_pane .title_0 span{
    padding: 7px 10px;
}
.right_pane>div{
    margin: 3px 2px;
    background: #fff;
    padding-bottom: 0px;
    border-radius: 2px;
    width: 100%;
}
.input_block{
    border: 1px solid #ffeeaa;
}
.input_block1{
    border: 1px solid #ffdd44;
}
.input_block>div{
    margin-bottom: 8px;
}
.input_block label{
    font-size: 0.9em;
}
.right_pane div .title_1, .right_pane .title_1, .title_1{
    color: #000;
    background: #f2f2f2;
    font-family: "Roboto-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 0px;  
    padding-top: 7px;
    padding-bottom: 2px;
    text-align: center;
}
.title_1 span{
    padding-left: 17px;
}
.right_pane .btns_main{
    text-align: right;
}
.right_pane .btns_main>div{
    display: inline-block;
    font-size: 0.9em;
}
.right_pane .link_d{
    display: inline-block;
    color: #77f;
    text-decoration: none;
    font-size: 0.9em;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.right_pane .link_d:hover{
    color: #ffdd00;
}
label{
    margin-right: 50px;
    margin-left: 10px;
}
.right_pane table{
    margin: 2px;
}
.right_pane table td{
    padding: 5px 7px;
    font-size: 0.9em
}

.left_pane>div{
    display: block;
    margin-bottom: 40px;
    margin-top: 0px;
}

.title_2{
   width: 100%;
   
   text-transform: uppercase;
   padding: 5px 0;
   text-align: center;
   font-size: 0.8em;
   background: #fbfbfb;
}
.summary_content{
    
    width: 100%;
}
.summary_content table{
    width: 100%;
}
.summary_content table td{
    padding: 2px 4px;
    font-size: 0.8em;
    border-bottom:1px solid #f7f7f7; 
}

.floating_box{
    
    z-index: 3;
    position: absolute;
    margin-top: -18px;
}

.box_ul{
    display: block;
    list-style: none;
    margin-top: 20px;
    margin-left: -4px;
    padding: 0;
}
.box_ul li{
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

.box_ul a{
    visibility: hidden;
    padding: 0px 7px;
    text-align: left;
    display: block;
    min-width: 180px;
    height: 0;
    text-decoration: none;
    font-weight: normal;
    color: transparent;
    background: #f7f7f7;
    border-bottom: none;
    font-family: "Roboto-Bold",sans-serif;
    font-size: 0.3em;
    text-shadow: none;
    transition: 0.4s all;-webkit-transition: 0.4s all;-o-transition: 0.4s all;-moz-transition: 0.4s all;-ms-transition: 0.4s all;
    border-left: 2px solid #ffdd00;
    border-right: 2px solid #ffdd00;
}
.box_ul a:hover{
    background: #ffdd00;
    color: #fff;
}

.floating_box_link:hover .box_ul a{
    visibility: visible;
    color: #334;
    height: 20px;
    padding: 5px 7px;
    font-size: 0.8em;
    color: #446;
}
.floating_box_link:hover .box_ul li{
    height: 25px;
}
.summary_left_block{
    position: absolute;
    left: 0;
    max-width: 300px;
    top: 430px;
}
.error_msg_div{
    display: none;
    border: 2px solid #f00;
    width: 60%;
}
.error_msg_div #errorMsgSpan{
    padding: 5px 7px;
    display: inline-block;
    font-size: 0.85em;
}
.blocks_table{
    display: inline-block;
    width: auto;
    border-collapse: collapse;
}
.blocks_table th{
    text-align: center;
    background: #445;
    color: #fff;
}
.blocks_table td{
    min-width: 200px;
    background: #fff;
    border-right: 1px solid #d7d7de;
    padding: 10px 0px;
    vertical-align: top;
}
.blocks_table td>div>div{
    padding: 0 34px;
}
.table_form_block{
    text-align: left;
}
.table_form_block span{
    display: block;
    color: #445;
    font-weight: 700;
    font-size: 0.8em;
}

.table_form_block .value_span{
    font-weight: 500;
    color: #445;
    font-size: 0.95em;
}
.inline_block_ , .table_form_block .inline_block_{
    display: inline-block;
    text-align: left;
}
.table_form_block0{
    width: 100%;border-collapse: collapse;
}
.table_form_block0 td{
    vertical-align: top;
}
.table_form_block0 td>div{
    min-height: 157px;
}
.verticalTop{
        vertical-align: top;
}
.verticalMid{
        vertical-align: middle;
}
.maringLeft0{
    margin-left: 30px;
}
.maringY0{
    margin-top:  10px;
    margin-bottom:  10px;
}
.margingY1{
    margin: 1.5em 0;
}
.innerdiv_marginY>div{
    margin: 7px 0;
}
.innerdiv_marginY1>div{
    margin: 14px 0;
}
.montant_input{
    text-align: right;
}
.content_top_block0{
    background: #fff;padding:0 0 5px 0;border: 1px solid #ffdd00;text-align: center;
}
.table_form_block>div{
    margin-bottom: 10px;
}
.table_sep{
    background: #f7f7fe;
    text-align: center;
    margin: 7px 0;
}
.title_3{
    background: #000;
    text-align: center;
    margin: 7px 0;
    color: #fff;
    padding:7px;
}
.title_3>span{
    color: #fff;
}
.title_5{
    background: #f0f0f0;
    text-align: center;
    color: #fff;
    padding:7px;
    border-top: 1px solid #ffdd00
}
.title_5>span{
    color: #555;
}
.left_block0{
    margin-top: 7%;
   
    position: absolute;
    left: 0;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}
.left_block0>.title{
    display: block;
    background: #445;
    color: #fff;
    padding: 7px 14px;
    text-align:center;
    border-top-right-radius: 7px;
}
.left_block0>div{
    margin: 27px 0;
    padding: 0 34px;
}

.filtre{
    background: #fff;
    border-bottom:  1px solid #ffdd00;
}
.a_text_no_decoration a{
    text-decoration: none;
}
.a_text_no_decoration a img{
    background: #fff;
}
.a_text_no_decoration1{
    text-decoration: none;
    color: #223;
    border-bottom: 2px solid transparent;
    transition: 0.4s all;-webkit-transition: 0.4s all;-o-transition: 0.4s all;-moz-transition: 0.4s all;-ms-transition: 0.4s all;
}
.a_text_no_decoration1:hover{
    transition: 0.4s all;-webkit-transition: 0.4s all;-o-transition: 0.4s all;-moz-transition: 0.4s all;-ms-transition: 0.4s all;
    color: #441;
    border-bottom: 2px solid #ffdd00;
}
.engraved{
 border-left: 3px solid #aaa;
 border-top: 3px solid #aaa;
 border-right: 3px solid #fff;
 border-bottom:  3px solid #fff;
}
.bottom_round{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.text_small_bold{
    font-size: 0.8em;
    font-weight: 700;
}
.red_borders_y{
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}
.recap label{
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 0.9em;
    color: #777;
    display: inline-block;
}
.recap>div{
    max-width: 350px;
    padding-left: 7px;
}
.recap span{
    font-size: 0.95em;
    word-wrap: break-word;
}
.recap>div>div{
    margin-bottom: 10px;
}
.title_underlined{
    border-bottom: 1px solid #ffdd00;
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.border_left_color1{
    border-left: 1px solid #ddd;
}
.span_style0:after{
    content: "\00b0";
    color: #f00;
}
.optionnel{
    border-bottom: 2px solid #cb0;
}
.optionnelSpan{
    background: #cb0;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}
.redBold{
    color: #f00;
    font-weight: 800;
}
.spanLabel, .spanLabel1, .table_form_block .spanLabel{
    display: inline-block;
    font-size: 0.82em;
    min-width: 130px;
    max-width: 250px;
    padding: 5px 0 1px 0;
    margin-left: 15px;
    font-weight: 500;
    border-bottom: 2px solid #aaf;
    padding-right: 12px;
    margin-right: -11px;
    height: 35px;
    vertical-align: bottom;
    margin-top: 10px;
}

.spanLabelv1, .table_form_block .spanLabelv1{
    display: inline-block;
    font-size: 0.82em;
    min-width: 130px;
    max-width: 200px;
    padding: 5px 0 1px 0;
    margin-left: 15px;
    font-weight: 500;
    vertical-align: bottom;
    margin-top: 10px;
}

.trform .input_design{
    margin-top: 10px;
    vertical-align: bottom;
    height: 35px;
    margin-left: 0;
    padding-left: 5px;
    max-width: 200px;
}

.spanLabel1{
    margin-left: 15px;
}
.spanValue, .table_form_block .spanValue{
    
    font-weight: 700;
    font-size: 0.9em;
    margin-left: 12px;
    
}

.textLeft{
    text-align: left;
}
.recapBlock{
    font-size: 0.8em;
}
.recapBlock>div, .recapDynamicField>div{
    display: inline-block;
    margin: 5px 8px;
}
.recapBlock>div>label, .recapDynamicField>div>label{
    font-size: 0.78em;
    font-weight: 700;
    color: #000277;
    display: block;
}
.recapBlock>div>span, .recapDynamicField>div>span{
    display: inline-block;
    max-width: 300px;
}
@media(max-width:1380px){
    body{
        font-size: 0.85em;
    }
    .right_pane{
        margin-left: 30px;
    }
    .left_pane>div{

    margin-bottom: 20px;
    margin-top: 20px;
    }
    .summary_left_block{
        max-width: 250px;
        top: 350px;
    }
    .recap label{
    font-family: 'Roboto-Bold',sans-serif;
    font-size: 0.8em;
    color: #777;
    display: inline-block;
}
.recap>div{
    max-width: 250px;
    padding-left: 4px;
}
.recap span{
    font-size: 0.85em;
    word-wrap: break-word;
    max-width: 200px;
}
.recap>div>div{
    margin-bottom: 5px;
}

.left_block0>div{
    margin: 27px 0;
    padding: 0 10px;
}
.left_block0>div input{
    width: 80px;
    font-size: 0.8em;
}

.left_block0>div .button_padding{
    padding: 7px 10px;
}
}

.typecontainer{
    height: 100px;
}

.option-logo{
    width: 50px;
    height: 50px;
}


#ouvert{
    font-size: 12px;
    position: relative;
    left: 170px;
    font-weight: bold;
}


#smscode, label[for="smscode"]{
    display: inline-block;
}

label[for="smscode"]{
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

